/* Dark mode colors. */
:root {
	--sl-color-accent-low: #3e1122;
	--sl-color-accent: #c00063;
	--sl-color-accent-high: #f1b5c6;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #e8eef6;
	--sl-color-gray-2: #bbc3cc;
	--sl-color-gray-3: #7f8d9e;
	--sl-color-gray-4: #4c5969;
	--sl-color-gray-5: #2d3948;
	--sl-color-gray-6: #1c2835;
	--sl-color-black: #13191f;

	--sl-content-width: 56rem;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #f7c9d5;
	--sl-color-accent: #c30065;
	--sl-color-accent-high: #5b102f;
	--sl-color-white: #13191f;
	--sl-color-gray-1: #1c2835;
	--sl-color-gray-2: #2d3948;
	--sl-color-gray-3: #4c5969;
	--sl-color-gray-4: #7f8d9e;
	--sl-color-gray-5: #bbc3cc;
	--sl-color-gray-6: #e8eef6;
	--sl-color-gray-7: #f3f7fa;
	--sl-color-black: #ffffff;
}

code {
	white-space: nowrap;
}

.aurora {
	transform: perspective(300px) rotateX(-10deg) rotateY(-9deg);
	pointer-events: none;
	position: fixed;
	inset: 5rem 0 0 0;
	z-index: -10;
	display: flex;
	align-items: center;
	width: 100%;
	height: 300px;
	filter: blur(20px);
}

.aurora-slice {
	will-change: transform;
	animation-name: aurora;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 20;
	flex-grow: 1;
	background-image: linear-gradient(
		0deg,
		rgba(219, 39, 119, 0) 0%,
		rgba(4, 182, 212, 0.8) 4%,
		rgba(4, 182, 212, 0.6) 5%,
		rgba(234, 242, 166, 0.75) 8%,
		rgba(67, 183, 160, 0.4) 12%,
		rgba(219, 200, 219, 0.65) 22%,
		rgba(219, 39, 119, 0.55) 40%,
		rgba(219, 39, 119, 0) 100%
	);
}

[data-theme='light'] .aurora-slice {
	background-image: linear-gradient(
		0deg,
		rgba(219, 39, 119, 0) 0%,
		rgba(4, 182, 212, 0.5) 4%,
		rgba(4, 182, 212, 0.35) 8%,
		rgba(67, 183, 160, 0.3) 18%,
		rgba(219, 200, 219, 0.15) 20%,
		rgba(219, 39, 119, 0.4) 40%,
		rgba(219, 39, 119, 0) 100%
	);
}

@keyframes aurora {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(10%);
	}
}

.sl-markdown-content .expressive-code pre,
.sl-markdown-content code {
	border-radius: 0.25rem;
}

.sl-markdown-content .expressive-code .frame.has-title pre {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.sl-markdown-content .expressive-code .frame.has-title .header,
.sl-markdown-content .expressive-code .frame.has-title:not(.is-terminal) .title,
.sl-markdown-content .expressive-code .frame.is-terminal .header {
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}

.tags {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	gap: 0.5rem;
	padding: 0;
	margin: 0;
}

.tag {
	font-size: var(--sl-text-sm);
	border-radius: 0.25rem;
	padding: 0 0.3rem;
	display: inline-flex;
	border-width: 1px;
	border-style: solid;
	display: flex;
	align-items: center;
	gap: 0.125rem;
}

.tag.info {
	background-color: var(--sl-color-purple-low);
	color: var(--sl-color-white);
	border-color: var(--sl-color-purple);
}
.tag.note {
	background-color: var(--sl-color-blue-low);
	color: var(--sl-color-white);
	border-color: var(--sl-color-blue);
}
.tag.caution {
	background-color: var(--sl-color-orange-low);
	color: var(--sl-color-white);
	border-color: var(--sl-color-orange);
}
.tag.danger {
	background-color: var(--sl-color-red-low);
	color: var(--sl-color-white);
	border-color: var(--sl-color-red);
}
.tag.success {
	background-color: var(--sl-color-green-low);
	color: var(--sl-color-white);
	border-color: var(--sl-color-green);
}
