---
import Layout from './Layout.astro';

export interface Props {
	description?: string;
	title?: string;
}

const { description, title } = Astro.props;
---

<Layout title={title} description={description}>
  <div class="prose prose-pink">
    <slot />
  </div>
</Layout>
