---
/* eslint-disable tailwindcss/no-arbitrary-value */
import Layout from './Layout.astro';
import Aurora from '../components/Aurora.astro';
import Prose from '../components/Prose.astro';
import Sidebar from '../components/Sidebar.astro';
import TableOfContents from '../components/TableOfContents.astro';

export type Props = {
	description?: string;
	title: string;
};

const { description, title, headings } = Astro.props;
---

<Layout title={title} description={description}>
	<Aurora bands={20} class="right-0 h-[250px] w-1/2 md:right-24 xl:right-64 2xl:right-96" />
	<div class="relative z-0 grid grid-cols-12 gap-4 py-8 md:gap-8">
		<div class="col-span-2 hidden xl:block">
			<div class="sticky top-24 max-h-screen overflow-y-scroll overscroll-contain pb-32">
				<Sidebar />
			</div>
		</div>
		<main class="col-span-12 xl:col-span-8">
			<Prose>
				<slot />
			</Prose>
		</main>
		<div class="col-span-2 hidden xl:block">
			<div class="sticky top-24 max-h-screen overflow-y-scroll overscroll-contain pb-32">
				{headings ? <TableOfContents slot="toc" headings={headings} /> : <slot name="toc" />}
			</div>
		</div>
	</div>
</Layout>
