---
import Layout from './Layout.astro';
import Prose from '../components/Prose.astro';
import Sidebar from '../components/Sidebar.astro';

export interface Props {
	description?: string;
	title?: string;
}

const { description, title } = Astro.props;
---

<Layout title={title} description={description}>
	<div class="grid grid-cols-12 gap-8 py-8 md:gap-12">
		<div class="col-span-2"><div class="fixed"><Sidebar /></div></div>
		<main class="col-span-8">
			<Prose>
				<slot />
			</Prose>
		</main>
		<div class="col-span-2"><slot name="toc" /></div>
	</div>
</Layout>
