---
import Layout from './Layout.astro';
import Prose from '../components/Prose.astro';
import Sidebar from '../components/Sidebar.astro';
import TableOfContents from '../components/TableOfContents.astro';

export type Props = {
	description?: string;
	title: string;
};

const { description, title, headings } = Astro.props;
---

<Layout title={title} description={description}>
	<div class="grid grid-cols-12 gap-4 py-8 md:gap-8">
		<div class="col-span-2">
			<div class="max-h-screen overflow-y-scroll overscroll-contain">
				<Sidebar />
			</div>
		</div>
		<main class="col-span-8">
			<Prose>
				<slot />
			</Prose>
		</main>
		<div class="col-span-2">
			{headings ? <TableOfContents slot="toc" headings={headings} /> : <slot name="toc" />}
		</div>
	</div>
</Layout>
