---
import Head from '../components/Head.astro';

export interface Props {
	description?: string;
	title?: string;
}

const { description, title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<Head title={title} description={description} />
	</head>
	<body class="dark:bg-zinc-900 dark:text-white">
		<header>
			<h1><a href="/">oneRepo</a></h1>
			<nav>
				<ul>
					<li><a href="/docs/cli/">CLI</a></li>
					<li><a href="/docs/plugins/">Plugins</a></li>
				</ul>
			</nav>
		</header>
		<slot />
	</body>
</html>
