---
import Footer from '../components/Footer.astro';
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';

export interface Props {
	description?: string;
	title?: string;
}

const { description, title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-pt-24 scroll-smooth" auto-theme="true">
	<head>
		<Head title={title} description={description} />
	</head>
	<body
		class="relative flex min-h-screen flex-col overflow-x-hidden bg-gray-100 bg-gradient-to-b from-gray-200 via-gray-100 to-gray-100 text-gray-900 transition-colors duration-200 tab-2 dark:bg-black dark:from-gray-900/60 dark:via-black dark:to-black dark:text-white"
	>
		<Header />
		<div class="container mx-auto grow px-4 md:px-8"><slot /></div>
		<Footer />
	</body>
</html>
