---
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';

export interface Props {
	description?: string;
	title?: string;
}

const { description, title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="tab-2 dark:bg-zinc-900 dark:text-white">
	<head>
		<Head title={title} description={description} />
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>
