---
import { getCollection } from 'astro:content';
import Docs from '../../../../layouts/Docs.astro';
import TableOfContents from '../../../../components/TableOfContents.astro';

export async function getStaticPaths() {
	const changelogs = (await getCollection('changelogs')).map((entry) => {
		return { params: { plugin: entry.slug }, props: { entry } };
	});

	return changelogs;
}

const { entry } = Astro.props;
const { Content, headings } = await entry.render();
---

<Docs title={entry.data.title} description={entry.data.description}>
	<h1>{entry.data.title}</h1>

	<Content />

	<TableOfContents slot="toc" headings={headings} />
</Docs>
