---
import { getEntry } from 'astro:content';
import Docs from '../../../layouts/Docs.astro';
import TableOfContents from '../../../components/TableOfContents.astro';

const entry = await getEntry('changelogs', 'onerepo');

const { title, description } = entry!.data;
const { Content, headings } = await entry!.render();
---

<Docs title={title} description={description}>
	<h1>{title}</h1>

	<Content />

	<TableOfContents numLevels={1} slot="toc" headings={headings} />
</Docs>
