---
import Docs from '../../../layouts/Docs.astro';
---

<Docs title="Core documentation">
	<h1>oneRepo core</h1>

	<p>
		At the center of oneRepo is a toolchain for managing monorepo workspace graphs using a unified command-line
		interface.
	</p>

	<p>Be sure to complete the <a href="/docs/getting-started"><i>Getting Started</i> guide</a> before continuing on.</p>
</Docs>
