---
import Layout from '../layouts/Layout.astro';
import Aurora from '../components/Aurora.astro';
---

<Layout>
	<Aurora bands={40} />
	<div class="prose prose-pink pt-10 dark:prose-invert lg:prose-xl xl:prose-2xl">
		<h1>oneRepo</h1>
		<p>The monorepo tools for <strong>teams</strong>.</p>
		<h2>Move <em>fast</em> with <strong>confidence</strong>.</h2>
	</div>
</Layout>
