---
/* eslint-disable tailwindcss/no-arbitrary-value */
import clsx from 'clsx';
import Layout from '../layouts/Layout.astro';

const widths = ['w-2', 'w-4', 'w-6', 'w-8', 'w-10', 'w-12', 'w-16'];
const heights = ['h-6/10', 'h-7/10', 'h-8/10', 'h-9/10', 'h-full'];
const anims = [
	'animate-[aurora_4s_ease-in-out_infinite]',
	'animate-[aurora_7s_ease-in-out_infinite]',
	'animate-[aurora_8s_ease-in-out_infinite]',
	'animate-[aurora_9s_ease-in-out_infinite]',
	'animate-[aurora_10s_ease-in-out_infinite]',
	'animate-[aurora_11s_ease-in-out_infinite]',
	'animate-[aurora_12s_ease-in-out_infinite]',
];
const opacity = [
	'opacity-10',
	'opacity-20',
	'opacity-30',
	'opacity-40',
	'opacity-50',
	'opacity-60',
	'opacity-70',
	'opacity-80',
	'opacity-90',
	'opacity-100',
];

const margins = ['mr-0', 'mr-1', 'mr-2'];
---

<Layout>
	<div class="prose prose-pink pt-10 dark:prose-invert lg:prose-xl xl:prose-2xl">
		<h1>oneRepo</h1>
		<p>The monorepo tools for <strong>teams</strong>.</p>
		<h2>Move <em>fast</em> with <strong>confidence</strong>.</h2>
	</div>
	<div class="pointer-events-none mt-[-250px] flex h-[300px] w-full -skew-y-3 blur-lg">
		{
			Array.from(Array(40)).map((_, i) => {
				const opacityI =
					i < 20
						? Math.ceil(i / 2)
						: 40 - i < opacity.length
						? 40 - i
						: Math.floor((Math.random() * opacity.length) / 2 + opacity.length / 2);
				return (
					<div
						class={clsx(
							'aurora-slice grow transform-gpu',
							heights[Math.floor(Math.random() * heights.length)],
							widths[Math.floor(Math.random() * widths.length)],
							anims[Math.floor(Math.random() * anims.length)],
							margins[Math.floor(Math.random() * margins.length)],
							opacity[opacityI]
						)}
					/>
				);
			})
		}
	</div>
</Layout>
