---
import Default from '@astrojs/starlight/components/Footer.astro';

const isHomepage = Astro.props.slug === '';
const isVisualizer = Astro.props.slug === 'visualize';
---

{
	!isHomepage && !isVisualizer ? (
		<Default {...(Astro.props as any)}>
			<slot />
		</Default>
	) : null
}

<footer class={`home-footer ${isVisualizer ? 'home-footer--minimal' : ''}`}>
	<div>
		Copyright ©{new Date().getFullYear()}{' '}<a href="https://paularmstrong.dev">Paul Armstrong</a>
	</div>
	<div class="home-footer--links">
		{
			isHomepage ? (
				<a href="https://www.netlify.com" rel="noopener nofollow" target="_blank">
					<span class="sr-only">Deploys by Netlify</span>
					<img
						src="https://www.netlify.com/v3/img/components/netlify-color-bg.svg"
						alt="Deploys by Netlify"
						width={114}
						height={50}
						loading="lazy"
					/>
				</a>
			) : null
		}
	</div>
</footer>

<style>
	.home-footer {
		border-top: 1px solid var(--sl-color-gray-4);
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		padding: 1rem 0;
		margin: 6rem auto 2rem;
		gap: 2rem;
	}

	.home-footer.home-footer--minimal {
		margin: 1em calc(50% - 50vw);
		padding: 1em;
		font-size: var(--sl-text-xs);
	}

	.home-footer a {
		color: var(--sl-color-white);
	}
	.home-footer a:hover {
		color: var(--sl-color-accent-high);
	}
	.home-footer a:active {
		color: var(--sl-color-accent);
	}

	.home-footer--links {
		display: flex;
		gap: 1rem;
		align-items: center;
		flex-wrap: wrap;
	}
</style>

<script>
	/**
	 * @params {HTMLCollectionOf<HTMLElement>} graphs
	 */
	async function renderDiagrams(graphs: HTMLCollection) {
		const { default: mermaid } = await import('mermaid');
		mermaid.initialize({
			startOnLoad: false,
			fontFamily: 'var(--sans-font)',
			// @ts-ignore This works, but TS expects a enum for some reason
			theme: document.documentElement.dataset.theme === 'dark' ? 'dark' : 'default',
		});

		for (const graph of Array.from(graphs)) {
			const content = graph.getAttribute('data-content');
			if (!content) {
				continue;
			}
			const svg = document.createElement('svg');
			svg.id = 'mermaid-' + Math.round(Math.random() * 100000);
			graph.appendChild(svg);
			mermaid.render(svg.id, content).then((result) => {
				graph.innerHTML = result.svg;
			});
		}
	}

	const graphs = document.getElementsByClassName('mermaid');
	if (document.getElementsByClassName('mermaid').length > 0) {
		renderDiagrams(graphs);
	}
</script>

<script data-goatcounter="https://onerepo.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
