---
import GithubIcon from './icons/GitHub.astro';
---

<footer class="z-10 border-t border-gray-300 bg-gray-200 shadow-inner dark:border-gray-700 dark:bg-gray-800">
	<div class="container mx-auto flex items-center justify-between p-4 md:px-8">
		<div>
			<a
				href="https://github.com/paularmstrong/onerepo"
				class="inline-block h-6 w-6 text-gray-700 transition-colors duration-200 hover:text-cyan-400 dark:text-gray-300"
				target="_blank"
				rel="noopener"
			>
				<GithubIcon />
			</a>
			<a class="text-cyan-400 transition-colors duration-200 hover:text-cyan-400" href="/">oneRepo</a>
			Copyright ©
			<a class="transition-colors duration-200 hover:text-cyan-500" href="https://paularmstrong.dev">Paul Armstrong</a>
		</div>
		<div>
			<a href="https://www.netlify.com" rel="noopener" target="_blank">
				<img src="https://www.netlify.com/v3/img/components/netlify-color-bg.svg" alt="Deploys by Netlify" />
			</a>
		</div>
	</div>
</footer>
