---
import GitHub from './icons/GitHub.astro';
import Sidebar from './Sidebar.astro';
import ThemeSwitcher from './ThemeSwitcher.astro';
---

<header
	class="sticky top-0 z-20 border-b border-gray-200 bg-gray-100/70 shadow shadow-gray-400 backdrop-blur-md dark:border-gray-700/50 dark:bg-black/50 dark:shadow-2xl"
>
	<div class="container mx-auto flex flex-row items-stretch justify-between px-2 sm:px-4 md:px-8">
		<div class="flex flex-row items-center gap-2">
			<div id="navbutton" class="xl:hidden">
				<button class="rounded p-1 hover:bg-cyan-600/50">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-6 w-6">
						<path
							fill-rule="evenodd"
							d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
							clip-rule="evenodd"></path>
					</svg>
				</button>
			</div>

			<h1>
				<a
					href="/"
					class="group flex h-full w-full flex-row items-center py-2 text-black transition-colors duration-200 hover:text-cyan-500 dark:text-white"
				>
					<span
						class="logo inline-block h-10 w-10 bg-black transition-colors duration-200 group-hover:bg-cyan-500 dark:bg-white"
					></span>
					<span class="text-lg font-bold transition-colors duration-200 group-hover:text-cyan-500">oneRepo</span>
				</a>
			</h1>
		</div>

		<nav class="flex flex-row items-center sm:gap-2">
			<ul class="mr-2 flex flex-row items-center gap-4 border-r border-r-slate-500/50 pr-2">
				<li>
					<a class="rounded p-2 transition-colors duration-200 hover:bg-cyan-600/50" href="/docs/"
						><span class="hidden sm:inline">Documentation</span><span class="inline sm:hidden">Docs</span></a
					>
				</li>
				<li class="hidden sm:block">
					<a class="rounded p-2 transition-colors duration-200 hover:bg-cyan-600/50" href="/docs/plugins/">Plugins</a>
				</li>
			</ul>
			<ThemeSwitcher />
			<a
				class="p-2 transition-colors duration-200 hover:text-cyan-400"
				href="https://github.com/paularmstrong/onerepo"
				target="_blank"
				rel="noopener"
			>
				<span class="inline-block h-6 w-6">
					<GitHub />
				</span>
			</a>
		</nav>
	</div>
</header>
<div
	id="sidebar"
	class="fixed top-14 left-0 bottom-0 z-10 w-96 -translate-x-full overflow-auto border-r border-gray-200 bg-gray-100/70 p-4 shadow shadow-gray-400 backdrop-blur-md transition-transform duration-100 dark:border-gray-700/50 dark:bg-black/80 dark:shadow-2xl xl:hidden"
>
	<Sidebar />
</div>

<script>
	const wrapper = document.querySelector('#navbutton')!;
	const button = wrapper.querySelector('button')!;
	const sidebar = document.querySelector('#sidebar');
	let open = false;

	function toggle() {
		if (open) {
			sidebar!.classList.remove('translate-x-0');
			sidebar!.classList.add('-translate-x-full');
			open = false;
		} else {
			sidebar!.classList.remove('-translate-x-full');
			sidebar!.classList.add('translate-x-0');
			open = true;
		}
	}

	window.addEventListener('DOMContentLoaded', () => {
		if (sidebar) {
			button.addEventListener('click', toggle);
		}
	});
</script>
