<header class="sticky top-0 flex flex-row justify-between border-b border-zinc-800 bg-zinc-900/50 backdrop-blur-md">
	<h1>
		<a href="/" class="group flex h-full w-full flex-row items-center py-2 text-pink-600 hover:text-purple-500"
			><span
				class="logo inline-block h-10 w-10 bg-pink-600 from-pink-600 via-pink-600 to-purple-500 group-hover:animate-gradient group-hover:bg-gradient-to-br"
			></span><span class="text-lg font-bold">oneRepo</span></a
		>
	</h1>
	<nav>
		<ul class="flex flex-row gap-8">
			<li><a href="/docs/">Documentation</a></li>
			<li><a href="/docs/plugins/">Plugins</a></li>
			<li><a href="https://github.com/paularmstrong/onerepo">GitHub</a></li>
		</ul>
	</nav>
</header>
