---
import GitHub from './icons/GitHub.astro';
import ThemeSwitcher from './ThemeSwitcher.astro';
---

<header
	class="sticky top-0 z-10 border-b border-gray-200 bg-gray-100/70 shadow shadow-gray-400 backdrop-blur-md dark:border-gray-700/50 dark:bg-black/50 dark:shadow-2xl"
>
	<div class="container mx-auto flex flex-row justify-between px-4 md:px-8">
		<h1>
			<a
				href="/"
				class="group flex h-full w-full flex-row items-center py-2 text-black transition-colors duration-200 hover:text-cyan-500 dark:text-white"
			>
				<span
					class="logo inline-block h-10 w-10 bg-black transition-colors duration-200 group-hover:bg-cyan-500 dark:bg-white"
				></span>
				<span class="text-lg font-bold transition-colors duration-200 group-hover:text-cyan-500">oneRepo</span>
			</a>
		</h1>
		<nav>
			<ul class="flex h-full flex-row items-center gap-8">
				<li>
					<a class="rounded p-2 transition-colors duration-200 hover:bg-cyan-600/50" href="/docs/">Documentation</a>
				</li>
				<li>
					<a class="rounded p-2 transition-colors duration-200 hover:bg-cyan-600/50" href="/docs/plugins/">Plugins</a>
				</li>
				<li>
					<ThemeSwitcher client:load />
				</li>
				<li>
					<a
						class="p-2 transition-colors duration-200 hover:text-cyan-400"
						href="https://github.com/paularmstrong/onerepo"
						target="_blank"
						rel="noopener"><span class="inline-block h-6 w-6"><GitHub /></span></a
					>
				</li>
			</ul>
		</nav>
	</div>
</header>
