---

---

<div role="list" class="instructions">
	<slot />
</div>

<style>
	.instructions {
		counter-reset: instructions;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		margin-block-end: 4rem;
	}
</style>
