---
import Default from '@astrojs/starlight/components/PageFrame.astro';

const isVisualizer = Astro.props.slug === 'visualize';
---

{
	isVisualizer ? (
		<div class="page sl-flex">
			<header class="header">
				<slot name="header" />
			</header>
			<slot />
		</div>
	) : (
		<Default {...(Astro.props as any)}>
			<span slot="header">
				<slot name="header" />
			</span>
			<span slot="sidebar">
				<slot name="sidebar" />
			</span>
			<slot />
		</Default>
	)
}

<style>
	.page {
		flex-direction: column;
		min-height: 100vh;
	}
	.header {
		z-index: var(--sl-z-index-navbar);
		position: fixed;
		inset-inline-start: 0;
		inset-block-start: 0;
		width: 100%;
		height: var(--sl-nav-height);
		border-bottom: 1px solid var(--sl-color-hairline-shade);
		padding: var(--sl-nav-pad-y) var(--sl-nav-pad-x);
		padding-inline-end: var(--sl-nav-pad-x);
		background-color: var(--sl-color-bg-nav);
	}
</style>
