---
---

<div
	class="prose prose-pink max-w-none transition-colors duration-500 lg:prose-lg xl:prose-xl prose-h1:mb-4 prose-h1:leading-tight prose-a:transition-colors prose-a:duration-200 hover:prose-a:underline-offset-4 prose-code:leading-6 prose-pre:whitespace-pre-wrap prose-pre:px-0 prose-pre:leading-6 prose-th:font-bold lg:prose-h1:mb-4 lg:prose-h1:leading-tight lg:prose-code:leading-6 lg:prose-pre:px-0 lg:prose-pre:leading-6 xl:prose-h1:mb-4 xl:prose-h1:leading-tight xl:prose-code:leading-6 xl:prose-pre:px-0 xl:prose-pre:leading-6"
>
	<slot />
</div>
