---
import clsx from 'clsx';

type Props = {
	href: string;
	title?: string;
};

const { href, title } = Astro.props;
---

<a
	class={clsx('block rounded px-2 py-1 transition-colors duration-200 hover:bg-cyan-600/30', {
		'bg-cyan-600/90 text-white': Astro.url.pathname === href,
		'text-gray-600 dark:text-gray-400': Astro.url.pathname !== href,
	})}
	href={href}
	title={title}
>
	<slot />
</a>
