---
const plugins = await Astro.glob('../../../plugins/*/README.md');
---

<nav>
	<ul>
		<li><a href="/docs/">Documentation</a></li>
		<li><a href="/docs/getting-started/">Getting started</a></li>
		<li>
			<a href="/docs/plugins/">Plugins</a>
			<ul>
				{
					plugins.map((plugin) => {
						const slug = plugin.file.split('plugins/')[1].split('/')[0];
						return (
							<li>
								<a
									class="block rounded px-2 py-1 text-gray-400 transition-colors duration-200 hover:bg-cyan-600/50 hover:text-white"
									href={`/docs/plugins/${slug}/`}
								>
									{plugin.frontmatter.title}
								</a>
							</li>
						);
					})
				}
			</ul>
		</li>
		<li>
			<a href="/docs/contributing/">Contributing</a>
			<ul>
				<li><a href="/docs/contributing/code-of-conduct/">Code of conduct</a></li>
				<li><a href="/docs/contributing/cli/">CLI</a></li>
			</ul>
		</li>
	</ul>
</nav>
