---
import clsx from 'clsx';

type Props = {
	href: string;
	title?: string;
};

const { href, title } = Astro.props;
const isCurrent = Astro.url.pathname === href;
---

<a
	class={clsx('block rounded px-2 py-1 transition-colors duration-200 hover:bg-cyan-600/30', {
		'bg-cyan-600/90 text-white': isCurrent,
		'text-gray-600 dark:text-gray-400': !isCurrent,
	})}
	aria-current={isCurrent ? 'page' : undefined}
	href={href}
	title={title}
>
	<slot />
</a>
