---
import VisualizerControls from './VisualizerControls.astro';
---

<div class="vis-container not-content">
	<VisualizerControls />
	<div class="visualizer">
		<div class="content">
			<div id="mermaid" class="mermaid">
				<svg width="100%" height="100%">
					<g class="group">
						<rect class="underlay" fill="transparent"></rect>
						<g class="viz"></g>
					</g>
				</svg>
			</div>
			<div class="no-content">
				<p>Graph not found. Run the following to</p>
				<pre>one graph show --open</pre>
				<button
					id="example"
					data-graph-data="eJy9ms9u2zAMxt/F5xgFtltPfY+hB8dRHK2ebUjKiqLou8+N/8SJSIqkgt2GWvxZIj9+kpV9Fl1/ML54/vVZ2EPxXLz0nXFm6J9c34fia7f82XbBuK5qn4xvx3+XQ3tubAcN+G18KOu+O9pm83jBTnHlRLk+nx/jAfWp6hrjTfD4mENfN6bDn3/PDH86GHfs3Z+qq0357uy4GmKsMyFYakT4GIyvnR2IN/4dX+LBJC/8OI/rkODRHI958FDImsM5m20PkqdpRa+eC3/JURiHlnjNpvjWAo/2Z9sejIOq2FgoV0fbGuDP/rwfXF8bD5HGhTVgcRpXDSeoIFX9VjWmHKtfwZEflWuQSZ/O+7Kqg+1H6b3uijFLb1ND+f7sahM11a4II8wEoq12xbuxzWkc8uP7lRLQtv3kGLhNxZxFGtkT2LR9Nmu2h2zOxUayKYDd5DMXW8ombewrmzXbXIam7+0wA7XaJspAW5JH+4nQbvtSNTOsOVcYatHo9JJIdiejhHhXeABr3Ub0K7vZdx6AuWxUD+BsdrYH0OatMIOEnAsyisiX/FV9CglQwUktUsHTWUDzWkpqZNzl3KKJJFVJBSaEQ4UyFEyF3x/GJAyhWEmE2JBvDitqB4UpehdN8MROmuBJ3DSFIlUvhInsOcFSWHSCKLRphJZp1SmquCHWEzfRDPRCYwLThQUgiWIJjEhgACezeBRRXLj5E0ftYffxevdCSWLfQkmS+qMQhSVELN03fJImrj74aapuYZqmax8mU+iqCWpmg3Lp8nJdv/rVDQsx9E1L0sSNS9IkzUuCZPqjSAorIHlSFUOsXO2STLFib26X1JqFKXrVJnhi3SZ4IsElWArJIcRMoaSoYqmsl4dqmcQEvUQIllgeBEtiagRGoQqAlqkIiii4jI2vgLPUdfmJTCOq+0DVYqAf4v4bk1lGdLxmmsTFtPL4KyPyhbGxhJweJzHML1eSwbwbIRncgwUIUeR2k770glQMjm+SBG5KQIjWKWkYP7/T8tWpxcJ5BxUsmptRLF6yid0ztAVBOfxazEnT5yMCaBeDg/iruSmCfk0IRnfvkYLxV7dOP3dKFEhYNQolcIS583MXFnPWUx7zxxrOlKRdipMEnxnR/DPP0QRPfZLmMPlLXo4fOecbnCFJFk7hOkpM0O2bm//DpbnqRAmJ6bx+/QOhoo6w"
					>Show an example</button
				>
			</div>
		</div>
	</div>
</div>

<script src="./visualizer.ts"></script>

<style>
	.vis-container {
		height: calc(100vh - var(--sl-nav-height));
		margin: -1.5rem calc(50% - 50vw) 0;
		width: 100vw;
		overflow: hidden;
		display: flex;
		flex-direction: column;
	}
	.controls {
		border-bottom: 1px solid var(--sl-color-hairline);
		flex-grow: 0;
		flex-shrink: 0;
	}
	.visualizer {
		flex-grow: 1;
		flex-shrink: 0;
	}

	.visualizer .node:hover rect.basic.label-container {
		stroke: var(--sl-color-green-high) !important;
		fill: var(--sl-color-green-low) !important;
	}

	.visualizer .node rect.basic.label-container {
		stroke-width: 2px !important;
	}

	.visualizer .nodeLabel {
		font-weight: 900 !important;
	}

	.content {
		height: 100%;
		width: 100vw;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.content .mermaid {
		flex-grow: 0;
		flex-shrink: 0;
		width: 100%;
		height: 100%;
	}

	.content .mermaid.hidden {
		display: none;
	}

	.no-content {
		position: absolute;
	}
</style>

<style is:global>
	.vis-container {
		--speed: 0.2s;
		--ease: ease-in-out;
		--sl-color-aurora-blue: oklch(62.06% 0.207 246.71);
	}
	.vis-container .label-container {
		fill: var(--sl-color-gray-5);
		stroke-width: 2px;
		stroke: var(--sl-color-gray-4);
	}
	.vis-container .node text {
		font-size: var(--sl-text-lg);
		fill: var(--sl-color-white);
	}

	.vis-container .node.node--unrelated {
		opacity: 0.25;
	}

	.vis-container .edgePath path {
		fill: none;
		stroke: var(--sl-color-gray-2);
	}
	.vis-container .edgePath marker path {
		fill: var(--sl-color-gray-2);
	}

	.vis-container .edgePath.edge--input path {
		stroke: var(--sl-color-aurora-blue);
		stroke-width: 4px;
	}
	.vis-container .edgePath.edge--input marker path {
		fill: var(--sl-color-aurora-blue);
	}
	.vis-container .edgePath.edge--output path {
		stroke: var(--sl-color-accent);
		stroke-width: 4px;
	}
	.vis-container .edgePath.edge--output marker path {
		fill: var(--sl-color-accent);
	}

	.vis-container .edgeLabel {
		opacity: 0;
		fill: var(--sl-color-text);
	}
	.edgeLabel text {
		font-size: var(--sl-text-xl);
	}

	.vis-container .edgeLabel.edgeLabel--related {
		opacity: 1;
	}

	.vis-container .edgePath.edge--unrelated path {
		opacity: 0.25;
	}

	.vis-container .edgeLabel .edge-box {
		fill: var(--sl-color-bg);
	}
</style>
