[dev]
  framework = "astro"
  targetPort = 4321
  autoLaunch = false

[build]
  ignore = "git diff --quiet $CACHED_COMMIT_REF $COMMIT_REF . ../yarn.lock"

[[plugins]]
  package = "netlify-plugin-csp-generator"

  [plugins.inputs]
    buildDir = "dist"

  [plugins.inputs.policies]
    baseUri = "'self'"
    childSrc = "'none'"
    connectSrc = "'self' https://onerepo.goatcounter.com/count"
    defaultSrc = "'self'"
    fontSrc = "'none'"
    frameSrc = "'none'"
    imgSrc = "'self' https://www.netlify.com data: https://api.producthunt.com"
    manifestSrc = "'self'"
    mediaSrc = "'none'"
    objectSrc = "'none'"
    scriptSrc = "'self' 'unsafe-eval' https://gc.zgo.at"
    scriptSrcElem = "'self' 'unsafe-inline' 'unsafe-eval' https://gc.zgo.at"
    scriptSrcAttr = "'none'"
    styleSrc = "'self'"
    styleSrcElem = "'self' 'unsafe-inline'"
    styleSrcAttr = "'self' 'unsafe-inline'"
    workerSrc = "'none'"
